<section>
    <h1>Profile Details</h1>
    <p>Add your details to create a personal touch to your profile.</p>
    <br>
    <div>
        <p-toast></p-toast>
        <p-fileUpload #imageForm chooseLabel="Add a Profile Picture" mode="basic" name="image" url="http://localhost:8080/file"
            accept="image/*" [maxFileSize]="1000000" (onUpload)="onUpload($event)" (onError)="onUploadError($event)">
        </p-fileUpload>
    </div>
    <br>
    <form [formGroup]="profileForm" (submit)="onSubmit()">
        <label for="firstname">First name</label>
        <br>
        <input type="text" pInputText id="firstname" formControlName="firstname" />
        @if(profileForm.get('firstname')?.touched && profileForm.get('firstname')?.errors?.['required']){
        <p-message severity="error" text="First Name is required"></p-message>
        }
        <br>
        <label for="lastname">Last name</label>
        <br>
        <input type="text" pInputText id="lastname" formControlName="lastname" />
        @if(profileForm.get('lastname')?.touched && profileForm.get('lastname')?.errors?.['required']){
        <p-message severity="error" text="Last Name is required"></p-message>
        }
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" pInputText id="email" formControlName="email" />
        <br>
        <br>
        <p-button type="submit">
            Save
        </p-button>
    </form>
</section>

<!--
    <h2>Add a profile picture</h2>
    <div>
        <p-toast></p-toast>
        <p-fileUpload chooseLabel="Choose" mode="basic" name="demo[]" (onUpload)="onUpload($event)" [auto]="true" accept="image/*" [maxFileSize]="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>   
-->