@if(loading){
<p-progressSpinner ariaLabel="loading"></p-progressSpinner>
}
@if(userInfo && !loading){
<section>
    @if(userInfo.profile.img){
    <img [src]="'data:' + userInfo.profile.fileType + ';base64,' + userInfo.profile.img" alt="" width="200"
        height="200"><!-- add object-fit, border,& border-radius -->
    }
    <h1>{{userInfo.profile.firstname}}&nbsp;{{userInfo.profile.lastname}}</h1>
    <p>{{userInfo.profile.email}}</p>
    @for (link of userInfo.links; track link.id) {
    <div>
        <span class="pi pi-{{link.platform}}"></span>
        <span>
            &nbsp;
            {{ link.platform }}
            &nbsp;
        </span>
        <a target="_blank" href={{link.url}}>
            <span class="pi pi-arrow-right"></span>
        </a>
    </div>
    }
</section>
}
@if(!userInfo && !loading) {
<section>
    <h1>The profile you're looking for does not exist.</h1>
    <p>Want your own profile?&nbsp;<a routerLink="/register">Register and create your devlinks now.</a></p>
</section>
}