<p-toast></p-toast>
<section>
    <h1>Sign In</h1>
    <br>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <label for="email">Email:</label>
        <br>
        <input type="email" pInputText id="email" formControlName="email" autocomplete="off" />
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" pInputText id="password" formControlName="password" autocomplete="off" />
        <br>
        <br>
        <p-button type="submit" label="Sign in"></p-button>
    </form>
    <br>
    <br>
    <p>
        Need an Account?
        <span>
            &nbsp;
            <a routerLink="/register">Sign Up</a>
        </span>
    </p>
</section>