<p-toast></p-toast>
@if (success) {
  <section>
    <h1>Success!</h1>
    <div>
      <a routerLink="/">Sign In</a>
    </div>
  </section>
} @else {
  <section>
    <h1>Register</h1>
    <br />
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <label for="email"> Email: </label>
      <br />
      <input
        type="email"
        pInputText
        id="email"
        formControlName="email"
        autocomplete="off"
      />
      @if (
        registerForm.get("email")?.touched &&
        registerForm.get("email")?.errors?.["required"]
      ) {
        <p-message severity="error" text="Email is required"></p-message>
      } @else if (
        registerForm.get("email")?.touched &&
        registerForm.get("email")?.errors?.["email"]
      ) {
        <p-message severity="error" text="Invalid email format"></p-message>
      }
      <br />
      <label for="username"> Username: </label>
      <br />
      <input
        type="text"
        pInputText
        id="username"
        formControlName="username"
        autocomplete="off"
      />
      @if (
        registerForm.get("username")?.touched &&
        registerForm.get("username")?.errors?.["required"]
      ) {
        <p-message severity="error" text="Username is required"></p-message>
      }
      <br />
      <label for="password"> Password: </label>
      <br />
      <p-password
        id="password"
        formControlName="password"
        autocomplete="off"
        [feedback]="false"
        [toggleMask]="true"
      ></p-password>
      @if (
        registerForm.get("password")?.touched &&
        registerForm.get("password")?.errors?.["required"]
      ) {
        <p-message severity="error" text="Password is required"></p-message>
      }
      <br />
      <br />
      <p-button
        type="submit"
        label="Sign Up"
        [disabled]="registerForm.invalid"
      ></p-button>
    </form>
    <br />
    <br />
    <p>
      Already registered?
      <span>
        &nbsp;
        <a routerLink="/login">Sign In</a>
      </span>
    </p>
  </section>
}
