<p-toast></p-toast>
@if(success){
<section>
    <h1>Success!</h1>
    <div>
        <a routerLink="/">Sign In</a>
    </div>
</section>
} @else {
<section>
    <h1>Register</h1>
    <br>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">

        <label for="email">
            Email:
        </label>
        <br>
        <input type="email" pInputText id="email" formControlName="email" autocomplete="off" />
        <br>
        <label for="username">
            Username:
        </label>
        <br>
        <input type="text" pInputText id="username" formControlName="username" autocomplete="off" />
        <br>
        <label for="password">
            Password:
        </label>
        <br>
        <input type="password" pInputText id="password" formControlName="password" autocomplete="off" />
        <br>
        <br>
        <p-button type="submit" label="Sign Up" [disabled]="registerForm.invalid"></p-button>
    </form>
    <br>
    <br>
    <p>
        Already registered?
        <span>
            &nbsp;
            <a routerLink="/login">Sign In</a>
        </span>
    </p>
</section>
}