<section>
    <h1>Customize your links</h1>
    <p>Add/edit/remove links below and then share all your profiles with the world!</p>
</section>
<form [formGroup]="form" (submit)="onSubmit()">
    <p-button type="button" [outlined]="true" severity="secondary" (click)="addLink()" [disabled]="count() === 6">+Add
        New Link</p-button>
    <br>
    <div formArrayName="links" *ngFor="let link of links.controls; let i = index">
        <ng-container [formGroupName]="i">
            <div class="link-form-row-container">
                <div class="link-form-row-container-header">
                    <h2>Link #{{i + 1}}</h2>
                    <p-button type="button" severity="danger" [text]="true" (click)="deleteLink(i)">
                        Remove
                    </p-button>
                </div>
            </div>
            <p-dropdown formControlName="platform" [options]="platforms" placeholder="Select a Platform">
                <ng-template let-platform pTemplate="platform">
                    <div class="flex align-items-center gap-2">
                        <span class="pi pi-{{platform.value}}"></span>
                        &nbsp;
                        <span>{{ platform.label }}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <input type="text" name="url-{{i}}" pInputText placeholder="https://" formControlName="url" />
            @if(links.controls[i].errors?.['platformDoesNotMatchUrl']){
            <div class="cross-validation-error-message alert alert-danger">
                *Platform must match url link.
            </div>
            }
        </ng-container>
    </div>
    <p-button type="submit" label="Submit"></p-button>
</form>